.book-card{
    margin-right: 15px;
    padding: 0 15px;
    border: 1px solid lightgrey;
    width: 32%;
    background-color: cornsilk;
}

.book-card img{
    width: 100%;
}

.book-card .title{
  padding: 0;
    font-size: 18px;
    color: #03031d;
}

.book-card .year{
    margin: 5px;
    font-size: 18px;
    color: #030303;
    padding: 0;
}

.book-card .price{
    margin: 5px;
    font-size: 18px;
    color: #030303;
    padding: 0;
}

.book-card .price span{
    font-size: 18px;
    color: #a00c0c;
}