.navbar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.navbar a{
    display: inline-block;
    text-decoration: none;
    width: 33%;
    padding: 15px 0;
    border: 1px solid mediumslateblue;
    font-size: 18px;
    text-align: center;
}
.navbar a:hover{
    background-color: #9b8cf6;
}

.active{
    background-color: #9b8cf6;
}