.bestseller h3{
    color: midnightblue;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    padding: 0 50px;
}
.bestseller p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    padding: 0 50px;
}
.best-books{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}