@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #373761;
}

.App {
  max-width: 950px;
  padding: 0 15px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid midnightblue;
}

.main-page h1{
  color: midnightblue;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
  text-transform: uppercase;
}

.main-page p{
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 22px;
}
